# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/SongAmbassador_API
    docker:
      - image: circleci/node:7.10
        environment: 
          PGHOST: 127.0.0.1
          PGUSER: root 
          NODE_ENV: test
          
      - image: circlci/postgres:9.6-alpine
        environment: 
          POSTGRES_USER: root
          POSTGRES_DB: favorites 
          POSTGRES_PASSWORD: ""
    steps:
      - checkout:
      - run:
        name: update-npm
        command: 'sudo npm install -g npm@latest'

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: 
        name: test
        command: npm test
      